<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h2 class="mb-3">All Listings</h2>

        <div class="row gap-3 m-0">
            <% for (let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="text-decoration-none flex-grow-1 listing-link p-0" style="width: 18rem;">
                    <div class="card">
                        <img src="<%= listing.image.url %>" class="card-img-top rounded-3" alt="<%=listing.title%>">
                        <div class="card-body">
                            <b><h6 class="card-title">
                                <%= listing.title %>
                            </h6></b>
                            <div class="card-img-overlay"></div>
                            <p class="card-text">
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>