<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h2 class="mb-3">All Listings</h2>

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for (let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="text-decoration-none listing-link col col-12">
                    <div class="card listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top rounded-3" alt="<%=listing.title%>" style="height: 20rem;">
                        <div class="card-body">
                            <b><h6 class="card-title">
                                <%= listing.title %>
                            </h6></b>
                            <div class="card-img-overlay"></div>
                            <p class="card-text">
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>