<% layout("/layouts/boilerplate.ejs") %>
    <body>
        <div class="row">
            <div class="col-md-8 m-auto">
                <h2>
                    <%= data.title%>
                </h2>

                <div class="card listing-card">
                    <img src="<%=data.image.url%>" class="card-img-top show-img rounded-4" alt="<%= data.title %>">
                    <div class="card-body">
                        <p class="card-text mt-2">
                            Owned by
                            <i>
                                <%= data.owner.username %>
                            </i>
                        </p>
                        <p class="card-text">
                            <%= data.description %>
                        </p>
                        <hr style="opacity: 0; margin: -0.2rem 0;">
                        <p class="card-text">
                            &#8377; <%= data.price %> / night
                        </p>
                        <p class='card-text'>
                            <%= data.location %>
                        </p>
                        <p class="card-text">
                            <%= data.country %>
                        </p>
                    </div>

                    <% if (currentUser && currentUser._id.equals(data.owner._id)) { %>
                        <div>
                            <a href="/listings/<%= data._id %>/edit"><button class="btn btn-secondary w-25 mx-2 my-1"
                                    style="min-width: 100px; max-width: 150px">Edit</button></a>

                            <form action="/listings/<%= data._id %>?_method=DELETE" method="post"
                                style="display: inline-block; width: 25%; min-width: 100px; max-width: 150px;"
                                class="mx-2 my-1">
                                <button class="btn btn-danger w-100">Delete</button>
                            </form>
                        </div>
                        <% } %>
                </div>
                <br>

                <% if (currentUser) {%>
                    <hr style="opacity: 0.15;">
                    <div>
                        <h3 id="review">Leave a review</h3>
                        <form action="/listings/<%= data._id %>/reviews" method="post" novalidate
                            class="needs-validation">
                            <div class="mb-3">
                                <!-- <input type="range" name="review[rating]" id="range" min="1" max="5" value="3"
                                    class="form-range border-0"> -->


                                    <fieldset class="starability-growRotate">
                                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." required/>
                                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                        <label for="first-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                        <label for="first-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                        <label for="first-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                      </fieldset>


                            </div>
                            <div class="mb-3">
                                <label for="comment" class="form-label">Comments : </label>
                                <textarea name="review[comment]" id="comment" class="form-control"
                                    placeholder="Thoughts about this place..." rows="2" required></textarea>
                                <div class="invalid-feedback mb-0">Please add some comments</div>
                            </div>
                            <button type="submit" class="btn btn-success mt-3 d-block"
                                style="margin-left: auto;">Add</button>
                        </form>
                    </div>
                <% } %>

                <% if (data.reviews && data.reviews.length> 0) { %>
                    <hr style="opacity: 0.15;">

                    <h4>Reviews</h4>
                    <div class="row">
                        <% for (let review of data.reviews.reverse()) { %>
                            <div class="card col-5 m-2 ms-3 review-card">
                                <div class="card-body">
                                    <div>
                                        <div class="card-title" style="font-weight: 500;">
                                            <span class="me-1">@<%= review.author.username %></span>

                                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                                      Rated: 3 stars
                                                    </p>
                                        </div>

                                        <div class='card-text fw-normal'>
                                            <%= review.comment %>
                                        </div>
                                    </div>
                                    <% if(currentUser && review.author._id.equals(currentUser._id)) {%>
                                        <form
                                            action="/listings/<%= data._id %>/reviews/<%= review._id %>?_method=DELETE"
                                            method="post">
                                            <button type="submit"
                                                class="btn btn-danger delete-review">Delete</button>
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                            <% }%>
                    </div>
                <% } %>
            </div>
        </div>
    </body>